@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    transition: 0.2s ease-in-out; 
}

:root{
    --sidebar-width: calc(100vw / 3);
    --main-width: calc(var(--sidebar-width) * 2);
}

.container{
    display: flex;
}

.background{
    width: var(--sidebar-width);
    background-image: url(assets/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}
#background-footer {
    position: absolute;
    bottom: 0;
    text-align: center;
    width: var(--sidebar-width);
}

.main-content{
    display: flex;
    flex-direction: column;
    width: var(--main-width);
    height: 100vh;
    background-color: rgb(255, 255, 255);
}
#main-form{
    display: flex;
    flex-direction: column;
}
.form-block{
    display: flex;
}
.form-element{
    display: flex;
    flex-direction: column;
}